*.swp
README~
.gitignore~
*.out
DO_NOT_DELETE
*.exe
*.tlog
*.obj
*.pdb
*.idb
*.sdf
*.ilk
*.log
*.aps
#*.rc
*.lib
*.dll
*.unsuccessfulbuild
*.vsmdi
*.pch
*.zip
*.rar
*.doc
*.ipch
*.cache
*.lastbuildstate
*.pdf
*.lib
*.dll
deps
bin/resources
*.suo
*.sbr
bin/Debug
bin/MinSizeRel
bin/Release
bin/RelWithDebInfo
bin/libs
bin/lingerxuzhuan
.vscode
build/.vs
build/CMakeFiles
build/Debug
build/MinSizeRel
build/Release
build/RelWithDebInfo
build/Win32
build/wip_engine.dir
Makefile
*.vspx
*.sdf
*.opendb
*.psess
*.vsp
*.db
libs/fmod_fsbank
libs/fmod_lowlevel
libs/fmod_studio
libs/fmodex
libs/FreeImage
libs/freetype
libs/glfw
libs/lua523
libs/src
bin/data/audio/fd
bin/data/pic
bin/data/swdui
*.mp3
*.vssettings
FindingDogEditor
FindingDogGame
WIP

